node_modules
dist
coverage
.git
*.log
.env*
.vscode
tests
*.test.*
*.spec.*

# Documentation
*.md

# Package manager files
.npmrc
.npm
.yarn
.pnpm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store

# IDE files
.idea
.editorconfig

# Configuration files
.eslintrc.json
.prettierrc
jest.config.ts
tsconfig.json
.gitignore
.dockerignore